---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About me</h1>

  <p>
    I'm Rémy Bonté-Duval, currently definining myself as a "web
    front-end/creative/UX developer" (feel free to swap "developer" with
    "engineer" if you'd like).
  </p>

  <!--  -->

  <p>
    In my past life I used to work a graphic designer. One of the things that
    stuck with me is that <strong>good design always has intent</strong>, and
    from this intent every detail and decision can be justified. The rest is
    superfluous at best, noise in most cases, and counterproductive at worst.
  </p>

  <!--
    So whenever I look at a new functionality, or an update to an existing
    functionality, I always try to understand what is the underlying intent
    first, as I think it is critical for good implementation too.
   -->

  <p>
    Similarly, as a front-end developper, I'm obsessed with UX (in the broader
    sense of the term). Good GUI always has to do with clear, precise
    intention(s), be it from the user, or from the product.
  </p>

  <!--  -->

  <br />
  <p>
    If you want to see stuff I draw you can look <a
      href="https://www.instagram.com/remydekor/">here</a
    >.
    <br />
    If you want to take a look at my works, it's <a href="./works">here</a>.
  </p>
</BaseLayout>
