---
import BaseLayout from "@layouts/BaseLayout.astro";
import Contacts from "@components/Contacts.astro";
---

<BaseLayout title="Homepage">
  <section class="page-grid">
    <p>
      Hello, I'm <a href="/about">Rémy Bonté‑Duval</a>,
      <br />
      creative front-end developer.
    </p>

    <p>
      I like to <a href="/works?filter=code">code</a>, <a
        href="/works?filter=design">design</a
      > and <a href="/works?filter=draw">draw</a>
      <br />
      to create
      <a href="/works">
        <changing-word
          data-delay="2200"
          data-interval="1600"
          data-secondary-words='["beautiful","generative","meaningful","animated","playable","original","tangible","innovative","impactful","multifaceted","functional"]'
          >interactive</changing-word
        > things</a
      >.
    </p>

    <p>
      Don't hesitate
      <br /> to
      <expandable-toggle
        style="display:inline-block;"
        data-expandable-content-id="expandable-contacts"
      >
        <span class="underlined interactive">get in touch</span>.
      </expandable-toggle>
    </p>
    <expandable-content id="expandable-contacts">
      <Contacts />
    </expandable-content>
  </section>
</BaseLayout>

<script>
  import "@components/expandable";
  import "@components/changing-word";
</script>

<style>
  p {
    font-size: clamp(1.1rem, 6vw, 1.5rem);
    line-height: 1.4;
  }
  .page-grid {
    display: grid;

    gap: 1em;
    justify-items: start;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  expandable-content {
    opacity: 0;
    transition: all 0.3s ease;
  }

  expandable-content[open] {
    opacity: 1;
  }
</style>
